body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 30px;
    height: auto;
    width: auto;
}

header{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: coral;
    justify-content: space-between;
    font-size: 60%;
}

.head-nav{
    display: flex;
    justify-content: space-between;
    height:20%;
    width: 100%;
}
h1{
    color:blue;
    justify-content: flex-start;   
}

#logo{
    display: flex;
    justify-content: flex-start;
    height: 15px;
    width: 15px;
    float: left;
}

#photo-logo{
display: flex;
justify-content: flex-start;
height: 50px;
width: 50px;
}

nav{
    justify-content: flex-end;
    width: 40%;
    word-spacing: 20%;

}


ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    flex-direction: row;
    padding:30%;
}

#nav-list{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width:70%;
    margin:30%;
    word-spacing :30%;
    text-align: end;
    float: right;
}

.list{
    display: flex;
    justify-content:space-evenly;
    width: 60%;
    word-spacing :20%;
}

.container-search{
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.space-search{
    display: flex;
    background-color: darkgoldenrod; 
    width: 100%;
    font-size: 80%; justify-content: start;
    flex-direction: column;
}
.filtre-listing{
    display: flex;
    justify-content: start;
    flex-direction: row;
}


.annonce-container{
    display: flex;


}


#heb-title{
    font-size: 45%;
}

.annonce-container-hebergement{
    background-color: lightgray;
    width: 75%;

}




/*

.hebergements-container{
    display: flex;    width: 50%;
    align-items: center;
    height: 5%;
    padding: 2%;
    margin: 3%;
    justify-content: space evenly;
    flex-wrap: wrap;
    float: left;
    background-color: rgb(255, 0, 170);
    }
    */

.image-item{
    width: 50px;
}


.annonces-contenaire-populaires{
    background-color: blueviolet;
    width: 25%;
    margin-left: 10px;
    padding: 20px;
}
.annonces-populaires{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: darkcyan;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45%;
    width: 35%;
    float: right;
}

.image-pop{
    width: 50px;
}

.populaire-pop{
    display: flex;
    flex-direction: column;
}

.marseille{
    display:flex
}

.image-item3{
    display: flex;
}

footer{
    display: flex;

}

