
body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 30px;
    height: auto;
    width: auto;
}

/*
******************************************
----------------EN-TÊTE---------
*******************************************
*/
header{
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    font-size: 85%;
    /* border: 1px solid black; / */
}

.head-nav{
    display: flex;
    justify-content: flex-end;
    height:10%;
    width: 90%;
    /* border: 1px solid green; */
}


h1{
    color:blue;
    justify-content: flex-start;   
}
/*
++++++++++++++++++++++++++++++++++++++++++
*/

#logo{
    height: 15px;
    width: 10%;
    /* border: 1px solid rgb(94, 21, 189);    */
}

#photo-logo{
height: 50px;
width: 100px;
}
/*
+++++++++++++++++++++++++++++++++++++++
*/

nav{
    justify-content: flex-end;
    width: 40%;
    word-spacing: 20%;
    /* border: 1px solid rgb(204, 11, 11); */
    height: 100px;

}

ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    flex-direction: row;
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}

a:hover{
    color: red;
}
/*
++++++++++++++++++++++++++++++++++++
*/

.container-search{
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.space-search{
    display: flex;
    /* background-color: darkgoldenrod;  */
    width: 100%;
    font-size: 95%; justify-content: start;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;

}
/*
++++++++++++++++++++++++++++++++++++
*/

.filtre-listing{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 3px;
    border: blue 1px solid
}

.filtre-body{
    display: flex;
    flex-direction: row;
    margin-left: 2%;

}

#search-body{
    width: 30%;
    border: steelblue solid 1px;
    justify-content: space-around;
    padding: 3px;
}


/*
******************************************
-------------PARTIE PRINCIPALE ---------
*******************************************
*/

.annonce-container{
    display: flex;
    flex-direction: row;
}



/*
        *Partie hébergement
        +++++++++++++++++++
*/

#heb-title{
    font-size: 85%;
    display: flex;
    justify-content: start;
    border: lawngreen solid 1px;
    width: 100%;
}
        
.annonce-container-hebergement{
    background-color: #F2F2F2;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
}

/*

.hebergements-containere
    display: flex;    width: 50%;
    align-items: center;
    height: 5%;
    padding: 2%;
    margin: 3%;
    justify-content: space evenly;
    flex-wrap: wrap;
    float: left;
    background-color: rgb(255, 0, 170);
    }
    */

.image-item{
    width: 250px;
    margin: 20px;
    padding: 10%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    object-fit: fill;
}
    
.heb-box-cards{
    display: flex;
    flex-direction: row;
    border: mediumblue solid 1px;
    width: 100%;
    margin: 5px;
    justify-content: space-around;
}

.heb-box-cards2{
    display: flex;
    flex-direction: row;
    border: mediumblue solid 1px;
    width: 100%;
    margin: 5px;
    justify-content: space-around;
    
}

.annonce-hebergement{
    justify-content:center;
    border: solid 1px yellow;
    height: 100%;
    border-radius: 15%;
    object-fit: fill;
    background-color: white;
}

.body-image{
    border: tomato solid 1px;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 15%;
}

.description-hot{
    text-align: start;
}
    
    
#affiche-space{
    display: flex;
    justify-content: start;
    border: magenta solid 1px;
    width: 100%;
}
    
.far fa-star{
    position: absolute;
    height:2em;
    width: 0.7em;
    background-color: currentColor;
}


i{
    color: #0065FC;
}

.gris{
    color: gray;
}
/*
            *Partie populaire
            ++++++++++++++++++
*/

#pop-title{
    font-size: 85%;
    display: flex;
    justify-content: start;
    border: tomato solid 1px;
    width: 100%;
}
            
.annonces-contenaire-populaires{
    background-color: #F2F2F2;
    width: 25%;
    margin-left: 10px;
    padding: 40px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
}

/*
.annonces-populaires{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: darkcyan;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45%;
    width: 35%;
    float: right;
}

*/
.image-pop{
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.populaire-pop{
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
}

.hebergement-populaire{
    display: flex;
    border: green solid 1px;
    margin-top: 10px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 5px;

}



.descrip-pop{
    display: flex;
    text-align: center;
}

.body-pop{
    border: tomato solid 1px;

    align-items:flex-start;

}



/*
            *Partie activité
            ++++++++++++++++++
*/

.partie-marseille{
    width: 100%;
    height: 35%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
                
#title-act{
    display: flex;
    justify-content: flex-start;
}
                
.image-activite{
    width: 250px;
    margin: 10px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}



.activites-contenaires{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
    border: brown solid 1px;
}     

.annonce-act{
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid black;
    justify-content: center;
}
                
.annonce-activite{
    border: blue solid 1px;
}
                
                
                
.des-act{
    text-align: center;
}
                
.body-act{
    text-align: center;
}
/*
*******************************************
-------------PIED DE PAGE---------------
*******************************************
*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: blue solid 1px;
    width: 100%;    
}

.filtre{
    font-size: 2em;

}

.filtre-button{
    color: black;
    background: white;
    border: 6px solid #F2F2F2;
    border-radius: 15px;
    width: 20%;
}

.badge{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:  #DEEBFF;
    text-align: center;
    align-items: center;
    padding-top: 40%;
}


















.fa-star{

}







