h1{
    color:blue;
    margin-left: 30px;
    border: 2px black solid;
}

nav{
    justify-content: flex-end;
    width: 30%;
}

header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
}

/* 
}