resolution.css*


/*Nouvelles règles si la fenêtre fait moins 768px et en portrait*/
@media screen and (orientation : portrait) and (max-with:768px)
{
    
    body{
        display: block;
        font-size : clamp(35px, 5vw,70px)
    }

    main{
        width: 100%;
    }

    header{
        display: flex;
        flex-flow: column wrap;
    }

    #menu{
        display: flex;
        flex-flow: column wrap;
    }

    #inscription{
        position: absolute;
        top: 20px;
    }

    .space-search h1{
        word-wrap :normal;
    }

    .filter-cards{
        display: flex;
        flex-flow: column wrap;
    }

    .filtre{
        display: flex;
        flex-flow: column wrap;
    }

    .annonce-container{
        display: flex;
        flex-flow: column-reverse ;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .annonce-container-hebergement{
        display: flex;
        flex-flow: column wrap;
    }

    .annonce-container-populaires{
        display: flex;
        flex-flow: column wrap;
    }


    .partie-marseille{
        display: flex;
        flex-flow: column wrap;
    }

    .annonce-activite{
        height: 40%;
    }
    
    footer{
        display: flex;
        flex-flow: column wrap;
        height: 60%;
        justify-content: flex-start;
    }

}