

@media screen and (max-width:1024px)
{
    .activites-contenaires{
        width: 100%;
    }

    .annonce-activite{
        width: 23%;
    }

    ul{
        padding: 0;
    }
    .descrip-pop{
        margin-bottom: 13px;
    }

    .descrip-pop p{
        margin-bottom: 6px;
    }

    .body-pop h3{
        margin: 0;
    }

    .image-pop{
        width: 29%;
    }
    
.annonce-container-hebergement h3{
    font-size: medium;
}

.annonces-contenaire-populaires h3{
    font-size: medium;
}


}








/*Nouvelles règles si la fenêtre fait moins 768px et en portrait*/
@media screen and (max-width:768px)
{

    form{
        margin-left: -137px;
    }

    h1{
        width: 100%;
    }

    nav{
        width: 54%;
    }


/*
    .space-search p{
        margin-top: 1px;
        margin-bottom: 24px;
    }
    */
    .container-search{
        padding-left: 16%;
    }

   

    main{
        width: 96%;
    }

    .head-nav{
        width: 100%;
    
    }
/*
    a:hover{
        border-top: none;
        border-bottom:#0065FC 2px solid ;
    }*/


.filtre-listing{
    flex-flow: wrap;
}




    

    .annonce-container{
        flex-direction: column-reverse;
        height: auto;
    }

    .annonce-container-hebergement{
        margin-top: 5%;
        width: 96%;
        background-color: white;
    }

    .heb-box-cards{
        flex-direction: column;
        margin: 0;
    }

    .annonce-hebergement{
        width: 96%;
        padding: 1%;
        margin-bottom: 11%;
    }

    .heb-box-cards2{
        flex-direction: column;
        margin: 0;
    }

    .annonces-contenaire-populaires{
        width: 96%;
        margin: 0;
        padding: 2%;
        height: 28%;
    }

    .hebergement-populaire{
        width: 96%;
    }
    
    
    
    .activites-contenaires{
        flex-direction: column;
        padding: 2%;
        height: initial;
        width: 96%;
    }


    .annonce-activite figure{
        height: 241px;
    }

    .partie-marseille{
        width: 98%;
    }
    .annonce-activite{
        margin-bottom: 11%;
        width: 96%;
    }

    .annonce-act50{
        margin-bottom: 11%;
    }

    .annonce-act30{
        margin-bottom: 11%;
    }

    .image-activite{
        width: 693px;
    }


    header{
        width: 96%;

}

    .pad-body header{
        padding-left: 0;
    }

    .pad-body{
        padding-left: 2px;
    }

    #part1{
        margin-right: 11%;
    }
    
    footer #part2{
        margin-right: 13%;
    }


    footer .pad-body{
        padding-left: 0;   
    }

    footer{
        flex-flow: wrap;
    }

}

    


@media screen and (max-width:618px){
    .filter-card{
        width: 96%;
    }

}

@media screen and (max-width:591px){    
    nav{
        width: 64%;
    }

    form{
        margin-left: -94px;
    }

    .marker{
        width: 9%;
    }

    footer #part2{
        margin-right: 20%;
    }

    
}
/*
@media screen and (max-width:543px){
    footer #part2{
        margin-right: 15%;
    }
}

@media screen and (max-width:488px){
    footer #part1{
        padding-left: 0;
    }
    
}

@media screen and (max-width:468px){
    footer{
        display: flex;
        flex-direction: column;
    }
}
*/



@media screen and (max-width:425px){

    body{
        margin: 2px;
    }
    #logo{
        position: absolute;
    
    }

    header{
        width: 100%;
    }

    .head-nav{
        margin-top: 64px;
        width: 100%;
        margin-right: 0;
        
    }

    #menu{
        width: 100%;
    }


    #inscription{
        position: absolute;
        top: 20px;
        right: 2px;
    }

    .head-nav a:hover{/*apparence au survol des liens*/
        color: #0065FC  ;
        border-bottom: #0065FC   2px solid;
        border-top: none;

        padding-bottom: 10px;
    }



    li{
    font-size: large;
    text-align: center;
    }



    ul{
        margin: 0;
        align-items: center;
    }
    

    #heber{
        width: 50%;
    }

    #activites{
        font-size: large;
        width: 50%;
    }

    h1{
        width: 100%;
    }
    


    form{
        display: flex;
        justify-content: center;
    }
    
    .marker{
        width: 35px;
    }


    .marseille-france{
        width: 168px;
}


    .container-search{
        margin-left: 49px;
}

/*
    .ecofam{
        display: flex;
        flex-direction: row;
    }*/

    
    
    
    .filtre-listing h2 {
        justify-content:start

}
    
    .filtre{
        height: 40%;
        flex-flow: column;
    }

    .filter{
        margin-left: 5px;
    }
    
    .filtre-listing{
        display: flex;
        flex-flow: row wrap;
        width:100%;
    }


    .filtre-body{
        margin: 4px;
        margin-right: 35px;
    }



    .annonce-activite{
        height: initial;
    }
    footer{
        display: flex;
        flex-direction: column;
    }


    footer part1{
        padding-left: 5%;
    }
    footer #part2{
        padding-left: 5%;
    }

    footer #part3{
        padding-left: 5%;
    }

} 



@media screen and (max-width:320px){

    .container-search{
        margin-left: 64px;
    }

    header{
        width: 100%;
    }

    #heber{
        margin-right: 25px;
    }

    form{
        margin-left: -134px;;
        justify-content: normal;
    
    }
}    